.nav-item{
    color: white;
}

.nav-link{
    color: white;
    font-family: "roboto", cursive;
    font-size: 1.5rem;
}

div > div > nav > ul > li > a:hover{
    background-color: #f2e29f;
    color: white;
}

.thirds-title{
    background-color: rgba(166, 150, 88, 0.85);
    font-family: "Cinzel decorative", cursive;
    font-size: 2rem;
    color: white;
}

.thirds-title h3 {
    color: white;
}
.thirds-text{
    background-color: rgba(166, 150, 88, 0.85);
    font-family: "Roboto", cursive;
    color: white;
    font-size: 1.1rem;
    padding: 5px;
}

.skill-badge{
    font-size: 1.3rem;
    margin: 3px;
    background-color: #795C5F;
}

.btn-all{
    background-color: #795C5F;
    color: white;
}

.btn-frontend{
    background-color: #a69658;
    color: white;
}

.btn-backend{
    background-color: #d9b26f;
    color: white;
}

.btn-fullstack{
    background-color: #fadf7f;
    color: white;
}

.message-title{
    font-family: "Cinzel decorative", cursive;
    font-size: 2rem;
    color:white;
}

.message-text{
    font-family: "Roboto", cursive;
    color: white;
    font-size: 1.1rem;
}

.contactWrapper{
    background-color: rgba(166, 150, 88, 0.85); 
}