/* Global Styles */
:root{
    --maroon: #561b1f; 
    --green: #22403d;
    --gold: #beb07b;
    --blue: #193b53;  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Header Styles */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: var(--maroon);
    color: var(--gold);
    min-height: 10vh;
    position: sticky;

}

header h1{
    padding: 0 0 0 25px;
    font-size: 2vw;
}

header h1 a, header nav ul li a{
    text-decoration: none;
    color: var(--gold)
}

header h1 a:hover, header nav ul li a:hover{
    color: var(--blue);
    font-weight: bold;
    font-size: larger;
}


header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav{
    width: 40%;
    font-size: 1.3vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a{
    display: flex;
    justify-content: space-around;
    padding: 0 50px 0 50px;
}

/*About Me Styling */
.flex-title{
    color: var(--gold);
    font-size: 1.3vw;
    display:flex;
    flex-wrap: wrap;
    align-items: top;
    width: 100%;
    padding: 30px 0 30px 150px;
}
.primary-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
}

.primary-text{
    width: 31%;
    color: var(--gold);
}

.abt-me-img{
    width: 31%;
}
.secondary-text{
    width: 31%;
    color: var(--gold);
}

.tertiary-text{
    width: 100%;
    color: var(--gold);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* My Work Styling */

.secondary-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue)
}

.my-work-img{
    margin: 0 30px 0 30px;
    width: 30%;
}

.my-work-img img{
    width: 100%;
}
.work-title-top{
    width: 15%;
}

.work-title-bottom{
    width: 15%;
}
/* Contact Me Styling */

.contactainer{
    height: 600px;
    width: 31%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.contact-img{
    width: 31%;
}

.contact-box{
    margin: 0 auto;
    padding: 50px;
    flex: 0 0 33%;
}


/* Footer Styling */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    background-color: var(--maroon);
    min-height: 5vh;
    padding: 0 30px 0 30px;
}

footer a{
    text-decoration: none;
    color: var(--gold);
    font-size: 20px;
}